# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular Data Science languages
- List popular Data Science libraries
- List popular Data Science tools
- Demonstrate the evaluation of some arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. sci-kit learn

|Data Science Tools|
|---|
|Rstudio|
|Jupyter Lab|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Gabriel Kinshuk